In [8]:
import pandas as pd
import pyodbc

conn = pyodbc.connect(
    "DRIVER={ODBC Driver 17 for SQL Server};"
    "SERVER=localhost\\SQLEXPRESS01;"
    "DATABASE=TeleArchive;"
    "Trusted_Connection=yes;"
)

query = """
SELECT *
FROM dbo.telecom;
"""

df = pd.read_sql(query, conn)
print(df.shape)
df.head(3)

(10000, 21)

C:\Users\GIFTY\AppData\Local\Temp\ipykernel_7204\3200924976.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

,column1,state,area_code,account_length,voice_plan,voice_messages,intl_plan,intl_mins,intl_calls,intl_charge,...,day_calls,day_charge,eve_mins,eve_calls,eve_charge,night_mins,night_calls,night_charge,customer_calls,churn
0,1,KS,415,128,True,25,False,10.0,3,2.70,...,110,45.070000,197.399994,99,16.780001,244.699997,91,11.01,1,False
1,2,OH,415,107,True,26,False,13.7,3,3.70,...,123,27.469999,195.500000,103,16.620001,254.399994,103,11.45,1,False
2,3,NJ,415,137,False,0,False,12.2,5,3.29,...,114,41.380001,121.199997,110,10.300000,162.600006,104,7.32,0,False

In [9]:
df.columns

Index(['column1', 'state', 'area_code', 'account_length', 'voice_plan',
       'voice_messages', 'intl_plan', 'intl_mins', 'intl_calls', 'intl_charge',
       'day_mins', 'day_calls', 'day_charge', 'eve_mins', 'eve_calls',
       'eve_charge', 'night_mins', 'night_calls', 'night_charge',
       'customer_calls', 'churn'],
      dtype='object')

In [10]:
df['churn'].value_counts()

churn
False    8586
True     1414
Name: count, dtype: int64

In [12]:
"""Target variable is categorical type we are changing it to numeric type to train the model"""
df['churn'] = df['churn'].astype(int)